Source: ros-indigo-map-ray-caster
Section: misc
Priority: extra
Maintainer: Gaël Ecorchard <gael.ecorchard@ciirc.cvut.cz>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-lama-msgs, ros-indigo-nav-msgs, ros-indigo-roscpp
Homepage: http://wiki.ros.org/map_ray_caster
Standards-Version: 3.9.2

Package: ros-indigo-map-ray-caster
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-lama-msgs, ros-indigo-nav-msgs, ros-indigo-roscpp
Description: The map_ray_caster package provides a class for cached ray casting on maps. The origin of all rays is fixed relative to the map, it is the map center.
