Source: ros-indigo-dfs-explorer
Section: misc
Priority: extra
Maintainer: Gaël Ecorchard <gael.ecorchard@ciirc.cvut.cz>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-actionlib, ros-indigo-catkin, ros-indigo-lama-interfaces, ros-indigo-rospy
Homepage: http://wiki.ros.org/dfs_explorer
Standards-Version: 3.9.2

Package: ros-indigo-dfs-explorer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-actionlib, ros-indigo-lama-interfaces, ros-indigo-rospy
Description: An explorer with depth-first search for finite worlds for the Large Maps Framework (LaMa).
